.login > p,
.white {
  color: white;
}

.random-gen {
  color: white;
  padding: 5px 15px;
  background-color: darkslateblue;
  border-radius: 25px;
  width: fit-content;
  margin: 0 auto;
  cursor: pointer;
}
